.register {
  min-width: 1165px;
  padding: 150px 50px 140px;

  &__header {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 48px;
    font-family: "Roboto", "Arial", sans-serif;
    text-align: center;
  }

  &__description {
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 18px;
    font-family: "Roboto", "Arial", sans-serif;
    text-align: center;
  }

  &__form {
    width: 857px;
    margin-right: auto;
    margin-left: auto;
  }

  &__text-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
  }

  &__textfield {
    width: 222px;
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: inherit;
    font-family: inherit;
    border: none;
    border-bottom: 2px solid #000000;

    &::placeholder {
      color: #000000;
    }
  }

  &__textfield:invalid {
    border-bottom: 2px solid #ff0000;
  }

  &__textfield:focus {
    border-bottom: 2px solid $color-green;
  }

  &__send-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    font-size: 18px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
  }

  &__checkbox + label {
    display: block;
    position: relative;
    padding-left: 50px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: -5px;
      width: 32px;
      height: 32px;
    }

    &::before {
      border: 2px solid #000000;
    }
  }

  &__checkbox:checked + label {
    &::before {
      background-color: $color-green;
      border: 2px solid $color-green;
    }

    &::after {
      background-image: url("../img/checkbox.png");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__checkbox:invalid + label {
    &::before {
      border: 2px solid #ff0000;
    }
  }

  &__checkbox:focus + label {
    &::before {
      border: 2px solid $color-green;
    }
  }

  &__submit {
    padding: 18px 65px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    background-color: $color-green;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
}

@media (max-width: $tablet-max-width) {
  .register {
    min-width: 643px;
    padding: 80px 40px 100px;

    &__header {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 25px;
    }

    &__description {
      font-size: 16px;
      margin-bottom: 40px;
    }

    &__text-fields {
      margin-bottom: 40px;
    }

    &__form {
      width: 560px;
    }

    &__textfield {
      width: 140px;
    }

    &__label {
      font-size: 14px;
    }

    &__checkbox + label {
      &::before,
      &::after {
        top: -8px;
      }
    }

    &__submit {
      padding: 15px 30px;
      font-size: 14px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .register {
    min-width: 290px;
    padding: 20px 15px 40px;

    &__header {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
      margin-right: 30px;
      margin-left: 30px;
    }

    &__description {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    &__text-fields {
      margin-bottom: 20px;
      flex-direction: column;

      div {
        margin-bottom: 20px;
      }
    }

    &__form {
      width: 260px;
    }

    &__textfield {
      width: 100%;
    }

    &__send-fields {
      flex-direction: column;
    }

    &__label {
      font-size: 14px;
      line-height: 20px;
    }

    &__checkbox + label {
      &::before,
      &::after {
        top: 2px;
      }
    }

    &__submit {
      margin-top: 20px;
      padding: 15px 30px;
      font-size: 14px;
    }
  }
}
