@font-face {
  font-family: "ProximaNova";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ProximaNova-ExtraBold.woff2") format("woff2"),
    url("../fonts/ProximaNova-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto-Light.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "SFUIText";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFUIText-Regular.woff2") format("woff2"),
    url("../fonts/SFUIText-Regular.woff") format("woff");
}

@font-face {
  font-family: "SFUIText";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFUIText-Medium.woff2") format("woff2"),
    url("../fonts/SFUIText-Medium.woff") format("woff");
}

@font-face {
  font-family: "SFUIText";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFUIText-Light.woff2") format("woff2"),
    url("../fonts/SFUIText-Light.woff") format("woff");
}

@font-face {
  font-family: "SFUIText";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFUIText-Semibold.woff2") format("woff2"),
    url("../fonts/SFUIText-Semibold.woff") format("woff");
}

@font-face {
  font-family: "SFUIText";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFUIText-Bold.woff2") format("woff2"),
    url("../fonts/SFUIText-Bold.woff") format("woff");
}

@font-face {
  font-family: "SFUIText";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFUIText-Heavy.woff2") format("woff2"),
    url("../fonts/SFUIText-Heavy.woff") format("woff");
}
